version: '3'
services:
  app:
    build: ./app
    ports:
      - "81:80"
    volumes:
      - ./app:/usr/share/nginx/html:ro
    networks:
      - contenta
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - contenta
    volumes:
      - www:/var/www
    # this ensures that nginx's upstream host "php" will always have
    # valid DNS when we're starting up
    depends_on:
      - php
  php:
    build: ./php
    ports:
      - "9000:9000"
    volumes:
      - www:/var/www
    env_file:
      - .env
    networks:
      - contenta
  database:
    build: ./database
    # ports:
    #   - "3306:3306"
    volumes:
      - data:/var/lib/mysql
    env_file:
      - .env
    networks: 
      - contenta
  service_snapshot:
    build: ./service_snapshot
    entrypoint: npm start
    ports:
      - "3000:3000"
    volumes: 
      - ./service_snapshot:/home/node/html
      - service_snapshot_nodemodules:/home/node/html/node_modules
  drupal_codebase:
    image: ubuntu
    volumes:
     - www:/var/www
     - ./drupal_codebase:/var/www/web

volumes:
  data:
  www:
  service_snapshot_nodemodules:

networks:
  contenta: 
